<div class="list">
	<li>
		{{id}} {{burger_name}}

		<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
			{{#if devour}}Devour{{else}}
			Try it again? Might be gross.
			{{/if}}
		</button>
	</li>
</div>